@{
    ViewBag.Title = "SP-Serviços Prestado";
}

<div class="jumbotron">
    <h1>SP</h1>
    <p class="lead">Platarforma de serviços prestados aos clientes</p>
    @if (!Request.IsAuthenticated)
    {
        @Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    }
    
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <table>
            <tr>
                <th>
                    <h2>@Html.ActionLink("3 Clientes que mais gastam", "Os3ClientesQueMaisGastaramPorMes", "Home", new { area = "" }, new { @class = "navbar-brand" })</h2>
                </th>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <tr>
                <th>
                    <h2>@Html.ActionLink("Média de valor", "MediaDoValorCobradoPorFornecedor", "Home", new { area = "" }, new { @class = "navbar-brand" })</h2>
                </th>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <tr>
                <th>
                    <h2>@Html.ActionLink("Fornecedores sem prestar atendimento", "FornecedorSemPrestarServicoNoMes", "Home", new { area = "" }, new { @class = "navbar-brand" })</h2>
                </th>
            </tr>
        </table>
    </div>
</div>