@model IEnumerable<SP.Application.ViewModels.MediaDeValorCobradoPeloFornecedorViewModel>

@{
    ViewBag.Title = "MediaDoValorCobradoPorFornecedor";
}

<h2>Media de valor vobrado por fornecedor e tipo de serviço</h2>

<table class="table">
    <tr>
        <th>
            Fornecedor
        </th>
        <th>
            Tipo de Servico
        </th>
        <th>
            Media
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMedio)
            </td>
        </tr>
    }

</table>