@model IEnumerable<SP.Application.ViewModels.ServicoViewModel>

@{
    ViewBag.Title = "Lista de Serviços";
}

<h2>Lista de Serviços</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
De:
<input type="date" id="de"/>
Até:
<input type="date" id="ate"/>
Filtar por:
<select id="filtrarPor">
    <option value="nada">Selecione</option>
    <option value="cliente">Cliente</option>
    <option value="estado">Estado</option>
    <option value="cidade">Cidade</option>
    <option value="bairro">Bairro</option>
    <option value="tipoServico">Tipo de Serviço</option>
</select>
contendo:
<input type="text" id="contendo" />
Ordenar por:
<select id="ordenar">
    <option value="nada">Selecione</option>
    <option value="valorMinimo">Valor mínimo</option>
    <option value="valorMaximo">Valor máximo</option>
</select>
<button id="pesquisar">Pesquisar</button>
<div id="divTabela"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#pesquisar").click(function (e) {
            $.ajax({
                type: "GET",
                url: "/Servico/Pesquisar",
                contentType: "application/json",
                data: { de: $("#de").val(), ate: $("#ate").val(), filtrarPor: $("#filtrarPor").val(), contendo: $("#contendo").val(), ordenar: $("#ordenar").val() },
                dataType: "html",
                success: function (data) {
                    $('#divTabela').html(data);
                }
            });            
            return false;
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}