@model SP.Application.ViewModels.FornecedorViewModel

@{
    ViewBag.Title = "Excluir fornecedor";
}

<h2>Excluir fornecedor</h2>

<h3>Confirma a exclusão do registro abaixo?</h3>
<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            
        @{if (Model.Clientes.Count == 0 && Model.Servicos.Count == 0)
        {
            <input type="submit" value="Excluir" class="btn btn-default" />
        }
        else
        {
            <p class="alert-danger">Exclusão não pode ser realizada, fornecedor tem clientes e serviços cadastrados!</p>
        }}
        @Html.ActionLink("Voltar a lista", "Index")
        </div>
    }
</div>
